.heading {
  background-image: url("../assets/backgrounds/landing.jpg");
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

#head {
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  font-size: 25px;
  font-style: italic;
}


div#breakfast {
  background-image: url("../assets/foodtop/breakfast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h2#breakfast {
color: white;
text-align: center;
margin-top: 50%;
}

.breakfast:hover {
  color: white;
}

div#lunch {
  background-image: url("../assets/foodtop/lunch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h2#lunch {
  color: white;
  text-align: center;
  margin-top: 50%
}

div#dinner {
  background-image: url("../assets/foodtop/dinner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h2#dinner {
  color: white;
  text-align: center;
  margin-top: 50%;
}
